div#wrapper {
    margin: 0px;
    padding: 0px;
    border: none;
    display: inline;
    height: 100%;
    width: 100%;
    max-height: 100%;
    overflow: hidden;
}

a {
    color: #526ca5;
    text-decoration: none;
}
a:hover {
    text-decoration: underline;
}

p.error {color: red;}

div.wide {
    margin: 0px;
    padding: 0px;
    width: 100%;
    display: flex;
}

/****************************************/
.combobox {
     position:relative;
     background-color:white;
     border:solid grey 1px;
     width: 200px;
     height: 25px;
     display: inline;
 }
 .combobox select {
     position: absolute;
     top: 3px;
     left: 0px;
     font-size: 12px;
     border: none;
     width: 200px;
     margin: 0;
 }
 .combobox input {
     position: absolute;
     top: 0px;
     left: 0px;
     width: 180px;
     padding: 1px;
     font-size: 14px;
     border: none;
     height: 23px;
 }

 .combobox select:focus, .combobox input:focus {
     outline:none;
 }
 
/****************************************/
 /* Dropdown Button */
.dropbtn {
    color: white;
    padding: 0px 2px 0px 4px;
    border: 1px black solid;
    font-size: 16px;
}

/* The container <div> - needed to position the dropdown content */
.dropdown {
    position: relative;
    display: inline-block;
}

/* Dropdown Content (Hidden by Default) */
.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f1f1f1;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
}

/* Links inside the dropdown */
.dropdown-content a {
    color: black;
    padding: 2px 20px;
    text-decoration: none;
    display: block;
    border: 1px solid #e0e0e0;
    cursor: pointer;
    font-size: 12px;
}

.dropdown-content a.disabled {
    color: grey;
    cursor: inherit;
}

/* Change color of dropdown links on hover */
.dropdown-content a:hover {
    border: 1px black solid;
}

/* Show the dropdown menu on hover */
.dropdown:hover .dropdown-content {
    display: block;
}

/* Change the background color of the dropdown button when the dropdown content is shown */
.dropdown:hover .dropbtn {
    border: 1px white solid;
} 

/****************************************/
button.op-button {
    margin-left: 5px;
}

button {
    padding-left: 0px !important;
    padding-right: 0px !important;
}

input.bad {
    background-color: #fff0f0;
    color: red;
}

.bad {
    color: red;
}

.message {
    color: #338833;
}

span.note-time {
    margin-left: 10px;
    font-size: 80%;
    font-style: italic;
}

div#wait {
    background-color: #E0E0E0;
}

/****************************************/
span#control-open {
    border: 1px solid white;
    padding: 0px 5px;
    font-size: 16px;
    cursor: pointer;
}

div#control-menu {
    display: none;
    padding: 10px;
    position: absolute;
    color: black;
    background-color: white;
    border: 1px solid black;
    border-radius: 5px;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2),0 6px 20px 0 rgba(0,0,0,0.19);
}

/****************************************/
div.ctrl-menu, div.ctrl-menu-disabled {
    text-align: left;
    padding: 5px;
    height: 20px;
    width: 190px;
    font-weight: bold;
}

div.ctrl-menu{
    cursor: pointer;
}

div.ctrl-menu:hover {
    color: #000080;
}

div.ctrl-menu-disabled {
    color: #808080;
}

/****************************************/
div#export-result {
    display: none;
    position: absolute;
    padding: 20px;
    top: 70px;
    left: 50px;
    width: 400px;
    color: black;
    background-color: white;
    border: 1px solid black;
    border-radius: 5px;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2),0 6px 20px 0 rgba(0,0,0,0.19);
}

span#export-result.problems {
    color: red;
}

/****************************************/

