/********************Modal Filter*****************************/
#filter-back {
    display: none;
    position: fixed;
    z-index: 30;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgb(0,0,0);
    background-color: rgba(0,0,0,0.4);
}

#filter-mod {
    background-color: white;
    margin: 4% 2% 2% 2%; 
    padding: 00px;
    border: 1px solid black;
    border-radius: 7px;
    height: 85%; 
    min-height: 85%;
    width: 95%;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2),0 6px 20px 0 rgba(0,0,0,0.19);
    overflow: hidden;
    display: flex;
    align-items: stretch;
}

#close-filter {
    color: #aaa;
    font-size: 28px;
    font-weight: bold;
    margin: 0px 10px 0px 10px;
}

#close-filter:hover, #close-filter:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
} 

/********************Filter controls*****************************/

div#filter-stat, div#filter-conditions {
    flex-grow: 1;
    overflow: hidden;
    display: grid;
    border: 1px solid black;
    white-space: nowrap;
}

div#filter-stat {
    width: 40%;
}

div#filter-conditions {
    width: 60%;
    height: 100%;
    min-height: 100%;
    display: flex;
    flex-direction: column;
    align-items: stretch;
}

div#filter-ctrl {
    text-align: right;
    margin-top: 10px;
    height: 40px;
    min-height: 40px;
    width: 100%;
}

div#filter-ctrl button {
    margin: 1px;
}

div#filter-cur-cond-text {
    height: 17px;
    padding: 5px 10px 4px 10px;
    background-color: #f0f0ff;    
}
div#filter-cur-cond {
    height: 150px;
    min-height: 120px;
    vertical-align: top;
    overflow: hidden;
    margin: 0px;
    padding: 0px;
}

div#filter-list-conditions {
    margin: 0px;
    padding: 0px;
    display: block;
    width: 100%;
    overflow: hidden;
    border: none;
}

div#stat-list {
    margin: 5px;
    padding: 5px;
    white-space: nowrap;
    overflow: auto;
    font-size: 12px;
}

div.stat-group {
    border: 1px solid #333455;
    margin: 0px;
    padding: 0px;
}

div.stat-unit {
    border: 1px solid white;
    cursor: pointer;
}

div.stat-unit.cur {
    border: 1px solid #8F00E0;
    cursor: inherit;
}

div.stat-unit.cur span.stat-unit-name {
    color: #8F00E0;
}


div.stat-group-title {
    font-size: 12px;
    font-weight: bold;
    font-style: italic;
    color: #333455;
    margin: 1px 5px 1px 15px;
}

span.stat-unit-name {
    font-size: 13px;
    font-weight: bold;
    color: #333455;
    margin: 1px 5px 1px 5px;
}

span.stat-unit-title {
    flex-grow: 1;
    font-size: 13px;
    color: #333455;
    text-align: right;
    margin: 1px 5px 1px 5px;
}

div.stat-unit ul {
    margin-before: 0px;
    margin-after: 0px;
    margin-top: 0px;
    margin-bottom: 0px;
    padding-start: 1px;
}

div#zyg-wrap {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    white-space: nowrap;
    margin-bottom: 5px;
}

div#zyg-problem {
    white-space: nowrap;
    text-align: left;
}

div.zyg-family {
    flex: 0 0 100px;
    border-right: 1px solid black;
    margin-right: 5px;
    padding-right: 5px;
}

div.zyg-fam-member {
    display: block;
}

div#zyg-stat {
    flex: 1 0 200px;
    margin-top: 20px;
}

div#zyg-stat ul {
    padding-left: 20px;
}

button#zyg-fam-reset {
    padding: 0px !important;
}

span#cond-text {
    color: #8F00E0;
    font-weight: bold;
    font-size: 15px;
}

span#cond-message {
    font-style: italic;
    font-size: 13px;
}

span#cond-title {
    font-size: 15px;
    font-weight: bold;
    color: #8F00E0;
    margin: 8px 5px 1px 10px;
    float: left;
}

div#cur-cond-numeric {
    margin: 10px;
    padding: 0px 10px 0px 30px;
    vertical-align: top;
    overflow: hidden;
}

div#cur-cond-enum {
    padding: 0px;
    margin:  0px;
    overflow: hidden;
}

div#wrap-cond-enum {
    padding: 0px;
    margin: 0px;
    width: 100%;
    overflow: hidden;
    height: 100%;
    display: flex;
    flex-direction: columns;
}

div#wrap-cond-enum-list {
    padding: 0px 5px;
    margin: 0px;
    flex-grow: 1;
    display: grid;
    overflow: hidden;    
    border: 1px solid black;
}

div#cur-cond-enum-list {
    padding: 0px;
    margin: 2px;
    min-width: 200px;
    display: grid;
    vertical-align: top;
    overflow: hidden;
}

div#op-enum-list {
    margin: 0px;
    padding: 0px;
    overflow-y: auto;
    display: block;
}

div#cur-cond-enum-ctrl {
    width: 100px;
    vertical-align: top;
    overflow: hidden;
    margin: 10px 5px;
    padding: 10px 5px;
}

div#cur-cond-enum-zeros {
    font-size: 9px;
    font-style: italic;
    margin-bottom: 15px;
}

div#op-enum-list.no-zeros div.zero {
    display: none;
}

input.num-inp {
    width: 100px;
}

div#cond-list {
    margin: 0px;
    padding: 0px;
    overflow: auto;
    font-size: 12px;
    vertical-align: top;
    height: auto !important;
    max-height: 100%;
    max-width: 100%;
}

div.cond-descr {
    background-color: #f0f0ff;
    border: 2px solid #333455;
    border-radius: 4px;
    cursor: pointer;
    margin: 5px 10px 5px 10px ;
    padding: 7px;
    text-align: justify;
    white-space: normal;
}

div.cond-descr.cur {
    color: #333455;
    font-weight: bold;
    border: 2px solid #8F00E0;
    cursor: inherit;
    box-shadow: 0 4px 8px 0 rgba(0.5,0.5,0,0.2),0 6px 20px 0 rgba(0.5,0.5,0,0.19);
}

span.enum-cnt {
    color: grey;
    font-style: italic;
    margin: 10px;
}

span.stat-count{
    font-style: italic;
}

p.stat-comment {
    font-style: italic;
    white-space: pre;
}

span.stat-ok {
    font-weight: bold;
    margin: 1px 5px 1px 5px;
}
span.stat-bad {
    color: #0f000f;
    font-style: italic;
    margin: 1px 5px 1px 5px;
}

span#flt-run-rules{
    cursor: pointer;
    border: 1px solid black;
    float: right;
    margin-right: 10px;
}

div#filters-ctrl {
    height: 30px;
    vertical-align: bottom;
    margin: 5px 10px 10px 5px;
    display: flex;
}

div#filter-wrap-list-conditions {
    flex-grow: 1;
    width: 100%;
    display: grid;
    overflow: hidden;
}

select#filter-name-filter {
    font-size: 14px;
}

#filter-name-combo {
    margin: 0px 5px 0px 10px;
}

span.flt-time {
    margin-left: 15px;
    font-style: italic;
    font-size: 70%;
}