/********************Modal Filter*****************************/
#rules-back {
    display: none;
    position: fixed;
    z-index: 30;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgb(0,0,0);
    background-color: rgba(0,0,0,0.4);
}

#rules-mod {
    background-color: #fffafa;
    margin: 3% 3% 2% 2%; 
    padding: 00px;
    border: 1px solid black;
    border-radius: 7px;
    height: 90%; 
    min-height: 90%;
    width: 95%;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2),0 6px 20px 0 rgba(0,0,0,0.19);
    overflow: hidden;
    display: block;
}

/********************Top controls*****************************/
#rules-top {
    width: 100%;
    height: 25px;
    min-height: 20px;
    margin: 0px;;
    padding: 0px;
}

#rules-title {
    margin-left: 30px;
    margin-right: 30px;
    padding: 5px;
    font-weight: bold;
    font-size: 18px;
}

#close-rules {
    color: #aaa;
    font-size: 28px;
    font-weight: bold;
    margin: 0px 10px 0px 10px;
    float: right;
}

#close-rules:hover, #close-rules:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
} 

/********************Main area*****************************/
#rules-main {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: row;
    align-items: stretch;    
    margin: 0px;
    padding: 0px;
}

#rules-left {
    width: 30%;
    margin: 0px;
    padding: 0px;
    display: grid;
}

#rules-right {
    width: 70%;
    margin: 0px;
    padding: 0px;
    display: grid;
}

/********************Main area*****************************/
#rules-ws {
    height: 50px;
    min-height: 50px;
    margin: 10px;
    padding: 10px;
    vertical-align: top;
}

#rules-wrap-columns {
    border: 1px solid black;
    margin: 10px;
    padding: 10px
    display: block;
}

#rules-wrap-param {
    margin: 10px;
    padding: 10px
}

div.rule-item {
    border: 1px solid brown;
    cursor: pointer;
    background-color: #fffdfd;
    color: brown;
    margin: 3px;
    padding: 3px;
}

div.rule-item.cur {
    border: 1px solid yellow;
    color: yellow;
    cursor: inherit;
    margin: 3px;
    padding: 3px;
    background-color: brown;
}

#rules-wrap-content {
    margin: 10px;
    padding: 10px;
    min-height: 250px;
    height: 250px;
    display: block;
}
textarea#rule-item-content {
    width: 100%;
    height: 100%;
    overflow: auto;
    font-size: 16px;
}

div#rule-item-ctrl {
    height: 30px;
    min-height: 30px;
    margin: 10px;
    padding: 10px;
    vertical-align: top;
}

div#rule-item-errors {
    color: red;
    height: 30px;
    min-height: 30px;
    margin: 10px;
    padding: 10px;
    vertical-align: top;
}
