/********************Globals*****************************/
body {
    padding: 0px;
    margin: 0px;  
    background-color: white;
    font-family: sans-serif;
    overflow: hidden;
}

a {
    color: #526ca5;
    text-decoration: none;
}
a:hover {
    text-decoration: underline;
}

button {
    padding: 0px !important;
}
/********************Top area split*****************************/
#top {
    display: flex;
    align-items: stretch;
    height: 100%;
    min-height: 100%;
    width: 100%;
}


#top-left  {
    width: 320px; 
    height: 100%;
    min-height: 100%;
    margin:0; padding:0;
    vertical-align: top; 
    display: flex;
    flex-direction: column;
    align-items: stretch;
}
    
#top-right {
    width: 100%; 
    height: 100%;
    min-height: 100%;
    white-space: nowrap;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    align-items: stretch;
}


/********************Left area*****************************/
div#data-sets {
    height: 30px;
    padding-top: 3px;
    padding-left: 3px;
    text-align: justify;
    background-color: #40408f;
    color: yellow;
    min-height: 100px;
}

div#rec-list  {
    background-color:#333455; 
    margin-top: 2px;
    overflow-y: scroll;
    padding-left: 3px;
    padding-right: 3px;
    flex-grow: 1;
}


input#list-rand-portion {
    width: 40px;
    font-size: 10px;
}

div.rec-label {
    cursor: pointer;
    color: #818195;
    font-size: 13px;
    text-align: left;
    vertical-align: middle;
    padding-bottom: 15px;
    padding-left: 20px;
    line-height: 18px;
}
div.rec-label:hover {
    color: #f6f6f7;
}

div.rec-label.red { 
    background: url(images/red.png) no-repeat 5px 3px; 
}
div.rec-label.red:hover { 
    background: url(images/red-hover.png) no-repeat 5px 3px; 
}
div.rec-label.red-cross { 
    background: url(images/red-cross.png) no-repeat 5px 3px; 
}
div.rec-label.red-cross:hover { 
    background: url(images/red-cross-hover.png) no-repeat 5px 3px; 
}
div.rec-label.green { 
    background: url(images/green.png) no-repeat 5px 3px; 
}
div.rec-label.green:hover { 
    background: url(images/green-hover.png) no-repeat 5px 3px; 
}
div.rec-label.yellow { 
    background: url(images/yellow.png) no-repeat 5px 3px; 
}
div.rec-label.yellow:hover { 
    background: url(images/yellow-hover.png) no-repeat 5px 3px; 
}
div.rec-label.yellow-cross { 
    background: url(images/yellow-cross.png) no-repeat 5px 3px; 
}
div.rec-label.yellow-cross:hover { 
    background: url(images/yellow-cross-hover.png) no-repeat 5px 3px; 
}
div.rec-label.grey { 
    background: url(images/grey.png) no-repeat 6px 5px;     
}
div.rec-label.grey:hover { 
    background: url(images/grey-hover.png) no-repeat 6px 5px; 
}

div.rec-label.press {
    color: #f6f6f7;
}

/********************Right area*****************************/
iframe#record {
    margin: 0px;
    padding: 0px;
    flex-grow: 1;
    border: none; 
}

