/********************Globals*****************************/
body {
    padding: 0px;
    margin: 0px;  
    background-color: white;
    font-family: sans-serif;
    overflow: hidden;
}

/********************Top area split*****************************/
#all {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: stretch;    
    margin: 0px;
    padding: 0px;
    white-space: nowrap;
}

#top {
    min-height: 50px;
    display: flex;
    align-items: stretch;
    flex-direction: row;
    margin: 0px;
    padding: 0px;
    text-align: justify;
    background-color: #333455; 
    color: white;
    border: 1px solid black;
    vertical-align: top; 
    overflow: hidden;
}

#bottom {
    display: flex;
    flex-direction: row;
    align-items: stretch;
    flex-grow: 1;
    margin: 0px;
    padding: 0px;
    white-space: nowrap;
}


#bottom-left {
    overflow: hidden;
    display: grid;
    margin:  0px;
    padding: 0px;
    border: none;
    background-color: white;
}

#bottom-right {
    flex-grow: 1;
    white-space: nowrap;
    margin:  0px;
    padding: 0px;
    border: none;
    display: flex;
    align-items: stretch;
    flex-direction: column;
}

/********************Top area split*****************************/
#top-ws {
   width: 20%;
   margin: 5px;
   border: none;
   text-align: left;
   display: flex;
}

span#ws-name {
    font-weight: bold;
    flex-grow: 1;
}

#top-filters {
   width: 35%;
   margin: 5px;
   border: none;
   text-align: left;
   display: flex;
   margin-right: 5px;
}

#top-zones{
   width: 20%;
   margin: 5px;
   border: none;
   text-align: left;
   display: block;
   margin-right: 15px;
}

#top-tags{
   width: 25%;
   margin: 5px;
   border: none;
   text-align: left;
}

/********************Left area*****************************/
div#wrap-rec-list {
    overflow: hidden;
    display: grid;
    border: 1px solid black;
    white-space: nowrap;
    width: 250px;
    margin: 0px;
    padding: 0px;
}

div#rec-list  {
    background-color:#333455; 
    margin-top: 2px;
    overflow-y: scroll;
    overflow-x: hidden;
    white-space: nowrap;
    max-height: 100%;
}


input#list-rand-portion {
    width: 40px;
    font-size: 10px;
    display: none;
}

div.rec-label {
    cursor: pointer;
    color: #818195;
    font-size: 13px;
    text-align: left;
    vertical-align: middle;
    padding-bottom: 15px;
    padding-left: 20px;
    line-height: 18px;
}
div.rec-label:hover {
    color: #f6f6f7;
}

div.rec-label.red { 
    background: url(images/red.png) no-repeat 5px 3px; 
}
div.rec-label.red:hover { 
    background: url(images/red-hover.png) no-repeat 5px 3px; 
}
div.rec-label.red-cross { 
    background: url(images/red-cross.png) no-repeat 5px 3px; 
}
div.rec-label.red-cross:hover { 
    background: url(images/red-cross-hover.png) no-repeat 5px 3px; 
}
div.rec-label.green { 
    background: url(images/green.png) no-repeat 5px 3px; 
}
div.rec-label.green:hover { 
    background: url(images/green-hover.png) no-repeat 5px 3px; 
}
div.rec-label.yellow { 
    background: url(images/yellow.png) no-repeat 5px 3px; 
}
div.rec-label.yellow:hover { 
    background: url(images/yellow-hover.png) no-repeat 5px 3px; 
}
div.rec-label.yellow-cross { 
    background: url(images/yellow-cross.png) no-repeat 5px 3px; 
}
div.rec-label.yellow-cross:hover { 
    background: url(images/yellow-cross-hover.png) no-repeat 5px 3px; 
}
div.rec-label.grey { 
    background: url(images/grey.png) no-repeat 6px 5px;     
}
div.rec-label.grey:hover { 
    background: url(images/grey-hover.png) no-repeat 6px 5px; 
}

div.rec-label.press {
    color: #f6f6f7;
}

/********************Right area*****************************/
#rec-frame1 {
    flex-grow: 4;
}
#rec-frame2 {
    flex-grow: 4;
}

#rec-frame1, #rec-frame2 {
    border: 2px 3px 3px 1px solid #333455;
    padding: 0px;
    margin: 0px;
    display: block;
}

/********************Top filters*****************************/
div#flt-ctrl, div#ws.ctrl {
  display: block;
  flex-grow: 1;
}

div#ws-info {
  display: flex;
  vertical-align: bottom;
}

div#list-info {
  display: flex;
  vertical-align: bottom;
}

div#flt-cur {
    display: flex;
}


div#zone-cur {
    display: flex;
}

span#list-report {
  vertical-align: bottom;
}

span#flt-current-state, span#zone-descr {
    margin-left: 10px;
    flex-grow: 1;
    cursor: pointer;
    background-color: #f0f0f0;
    color: #333455; 
    padding: 5px;
    border-radius: 7px;
    border: 2px solid black;
    width: 100%;
}

span#flt-current-state.problems, span#zone-descr.problems {
    font-style: italic;
    color: grey;
}

span#cur-tag-count{
    font-size: 12px;
    width: 200px;
}

span#cur-tag-here.tags-nav {
    cursor: inherit;
}

span.tags-nav {
    cursor: pointer;
}

span.tags-nav-disable {
    cursor: inherit;
    color: grey;
}


span.tags-count {
    cursor: inherit;
    font-size: 9px;
    vertical-align: top;
}

div#ws-dropdown {
    margin: 0px;
    padding: 0px;
}