[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]

[packages]
pytest = "7.1.2"
pytest-bdd = "*"
requests = "*"
python-dotenv="0.19.2"
jsonschema = "*"

[requires]
python_version = "3.10"

[scripts]
tests = "python -m pytest -v"
tests_positive = "python -m pytest -v -k positive"
tests_report = "python -m pytest -v --gherkin-terminal-reporter"
tests_cucumberjson = "python -m pytest --cucumberjson=cucumber-report.json"